<section class="team">
  <img class="team__figure" src="img/team-figure.svg" alt="" aria-hidden="true">
  <div class="container">
    <h2 class="title team__title">
      Наша команда
    </h2>
    <ul class="team__list list-reset grid">
      <li class="team__item">
        <img class="team__img" src="img/team-1.jpg" alt="Максим Золоторев">
        <strong class="team__subtitle">Максим Золоторев</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img class="team__img" src="img/team-2.jpg" alt="Максим Золоторев">
        <strong class="team__subtitle">Максим Золоторев</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img class="team__img" src="img/team-3.jpg" alt="Максим Золоторев">
        <strong class="team__subtitle">Максим Золоторев</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img class="team__img" src="img/team-4.jpg" alt="Максим Золоторев">
        <strong class="team__subtitle">Максим Золоторев</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img class="team__img" src="img/team-5.jpg" alt="Максим Золоторев">
        <strong class="team__subtitle">Максим Золоторев</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img class="team__img" src="img/team-6.jpg" alt="Максим Золоторев">
        <strong class="team__subtitle">Максим Золоторев</strong>
        <span class="team__post">Администратор</span>
      </li>
    </ul>
  </div>
</section>
